.my-dropdown {
	position: relative;
}

.my-dropdown-trigger {
	height: 50px;
}
.my-dropdown-trigger:active {
	background-color: #351BA9;
}
.my-dropdown-trigger.material-icons {
	height: 10px;
}

.my-dropdown-content {
	/* position: absolute; */
	right: 0;
	margin-top: 15px;
	background: #ffffff;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	overflow: hidden;
	padding: 10px 0;
	width: 220px;
	font-size: 1rem;
}
.my-dropdown-content ul {
	overflow: hidden;
}
.my-dropdown-content ul li {
	padding: 12px 20px;
	cursor: pointer;
}
.my-dropdown-content ul li:active, 
.my-dropdown-content ul li:hover {
	background: rgba(215, 114, 12, 0.05);
}
.my-dropdown-label {
	font-size: 1.2rem;
}