.modal_bg {
	width: 100vw;
	height: 100vh;
	background-color: #00000045;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	opacity: 0;
	pointer-events: none;
}

.my-modal {
	width: 60vw;
	max-height: 60vh;
	background-color: white;
}

.modal_bg.active {
	opacity: 1;
	pointer-events: all;
}

.input-field {
	display: flex;
}

.my-modal input {
	width: 60%;
}

.my-modal.my-btn-blue {
	width: 30%;
	font-size: 1rem;
}