.modal_bg {
	width: 100vw;
	height: 100vh;
	background-color: #00000045;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	opacity: 0;
	pointer-events: none;
}

.my-modal {
	background-color: white;
}

.my-modal legend {
	font-size: 2rem;
}

.modal-project {
	height: 30vh;
}

.modal-user {
	width: 70vw;
	max-height: 60vh;
}

.modal_bg.active {
	opacity: 1;
	pointer-events: all;
}

.my-modal div.row {
	display: flex;
}

.my-modal div.input-field {
	display: flex;
	width: 65%;
}

.my-modal button.my-btn-blue {
	width: 35%;
	height: max-content;
	font-size: 1rem;
}

@media only screen and (max-width: 992px) {
	.my-modal div.row {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}

	.my-modal div.input-field {
		width: 100%;
	}

	.my-modal button.my-btn-blue {
		width: 60% ;
		font-size: 1rem;
	}

	.modal-project {
		height: 20vh !important;
	}
	
	.modal-user {
		width: 75vw !important;
		height: 45vh !important;
	}
}

@media only screen and (max-width: 768px) {
	.modal-user {
		width: 80vw !important;
		height: 50vh !important;
	}
}