body {
	background-color: rgb(221, 73, 19);
	font-family: 'Ubuntu', sans-serif;
	color: #351BA9;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.App {
  	text-align: center;
	width: 90vw;
	min-height: 95vh;
	background-color: white;
	border-radius: 30px;
	margin: 1rem 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	color: #351BA9 !important;
	background-image: url('../public/olimp.png');
	background-size: 30rem;
	background-position: bottom 0 right 0;
	background-repeat: no-repeat;
}

header {
	width: 100%;
	height: 100px;
	align-self: flex-start;
	color: #351BA9 !important;
}

.navbar {
	width: 100%;
	box-shadow: none;
}

.navbar li a {
	color: #351BA9 !important;
}

.nav_to_cab {
	border-radius: 0 30px 0 0;
}

main {
	display: flex;
	/* flex: 1 0 auto; */
	justify-content: center;
	align-items: center;
	color: #351BA9 !important;
}

main.valign-wrapper {
	width: 100%;
	min-height: 50vh;
	flex-direction: column;
}

.menu {
	width: 60%;
	border: none;
	font-size: 2rem;
	color: #351BA9 !important;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

form {
	width: 80%;
	background-color: rgba(240, 255, 255, 0.5);
	border-radius: 15px;
	border: 1px solid azure;
	padding: 1rem;
	box-shadow: 0 0 1px 1px #5b3ddf;
}

button {
	border-radius: 6px;
	width: 15rem;
	margin: 0.5rem;
}

.btn {
	transition: none !important;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]) {
	box-shadow: 0 1px 0 0 #5b3ddf;
	border-bottom: 1px solid #351BA9;
}

input[type=text]:not(.browser-default):focus:not([readonly])+label,
input[type=email]:not(.browser-default):focus:not([readonly])+label,
input[type=password]:not(.browser-default):focus:not([readonly])+label {
	color: #351BA9 !important;
}

.products {
	color: #351BA9 !important;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	cursor: pointer;
}

.carousel {
	width: 100%;
	height: 100%;
	position: relative;
}

.carousel-item {
	position: absolute;
	visibility: hidden;
	width: 300px;
	height: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
	user-select: none;
}
  
.carousel-item.visible {
	visibility: visible;
}

.product-item {
	width: 96%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.product-item .card-image .main-product-image {
	width: 15rem;
	height: 15rem;
}

.product-item .card-image img{
	height: 30rem;
	object-fit: contain;
}

.card {
	width: 100%;
}

.card-action {
	cursor: default;
}

.card-action button:hover {
	color: #bf360c !important;
	font-weight: bold;
	background-color: transparent;
	cursor: pointer;
}

.product-info {
	display: grid;
	padding: 0;
	margin: 0;
}

.parameter {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.parameter-button {
	margin: 0.5rem !important;
}

.parameter-label {
	color: #351BA9;
	border: 1px solid grey;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
	border-radius: 5px;
	cursor: pointer;
	padding: 10px;
	margin: 0.5rem;
}

input[type="radio"], span::before, span::after {
	display: none;
}

input[type="radio"]:not(:checked) + span, [type="radio"]:checked + span {
	padding: 5px 10px;
	font-size: 1rem;
}

input[type="radio"]:checked + span {
	font-weight: bold;
	color: #73CA30;
} 

iframe {
	border: 1px solid grey;
	width: 100%;
	height: 80%;
	margin-top: 30px;
}

.projects {
	width: 96%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
}

.project-card {
	width: 15rem;
	height: 15rem;
	margin: 1rem;
	border-radius: 10px;
	border: 1px solid #351BA9;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
	background-color: #F2D131;
	color: #351BA9;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	cursor: pointer;
}

.project-card span {
	font-size: 1.3rem;
	padding: 1rem 0.5rem 0.5rem;
}

.project-card.create-project{
	background-color: rgba(237, 237, 237, 0.5);
	color: grey;
	border: 2px dashed grey;
}

.create-project:hover {
	box-shadow: 0px 2px 4px inset rgba(0, 0, 0, 0.3);
	background-color: #f2d23165;
	color: #351BA9;
}

.count-btn, 
.count-btn:hover,
.count-btn:active,
.count-btn:focus {
	width: 1rem;
	height: 1rem;
	background: transparent;
	color: #F2D131;
	border: none;
	cursor: pointer;
}

.count-btn i {
	transform: translateX(-40%) translateY(-30%);
}

.my-dropdown {
	position: relative;
}

.my-dropdown-trigger {
	height: 50px;
}

.my-dropdown-trigger:active {
	background-color: #351BA9;
}

.my-dropdown-trigger.material-icons {
	height: 10px;
}

.my-dropdown-content {
	/* position: absolute; */
	right: 0;
	margin-top: 15px;
	background: #ffffff;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	overflow: hidden;
	padding: 10px 0;
	width: 220px;
	font-size: 1rem;
}

.my-dropdown-content ul {
	overflow: hidden;
}

.my-dropdown-content ul li {
	padding: 12px 20px;
	cursor: pointer;
}

.my-dropdown-content ul li:active, 
.my-dropdown-content ul li:hover {
	background: rgba(215, 114, 12, 0.05);
}

.my-dropdown-label {
	font-size: 1.2rem;
}

.cabinet {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.auth-form {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	width: 100%;
}

.my-btn-white {
	background-color: #fff;
	color: #351BA9;
	border: 2px solid #351BA9;
	border-radius: 6px;
	width: 15rem;
}

.my-btn-white:hover, .my-btn-white:active, .my-btn-white:focus {
	background-color: #fff;
}

.my-btn-blue {
	background-color: #351BA9;
	color: #fff;
	border-radius: 6px;
	width: 15rem;
}
.my-btn-blue:hover, .my-btn-blue:active, .my-btn-blue:focus {
	background-color: #351BA9;
}

.my-btn-red {
	background-color: #C81818;
	color: #fff;
	border-radius: 6px;
	width: 15rem;
}
.my-btn-red:hover, .my-btn-red:active, .my-btn-red:focus {
	background-color: #C81818;
}

.profile {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: column;
	width: 100%;
}

.profile-info-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	width: 30rem;
}

.profile-label {
	font-size: 1rem;
	color: black;
	margin: 1.5rem 0;
}

.profile-info {
	background-color: white; 
	color: #351BA9 !important; 
	width: 15rem;
	border-radius: 6px; 
	border: 2px solid #351BA9;
	cursor: default;
}

.profile-info:hover {
	background-color: white;
}

table, th, td {
	color: black;
	font-size: 1.2rem;
}

.modal_bg {
	width: 100vw;
	height: 100vh;
	background-color: #00000045;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	opacity: 0;
	pointer-events: none;
}

.my-modal {
	background-color: white;
}

.my-modal legend {
	font-size: 2rem;
}

.modal-project {
	height: 30vh;
}

.modal-user {
	width: 70vw;
	max-height: 60vh;
}

.modal_bg.active {
	opacity: 1;
	pointer-events: all;
}

.my-modal div.row {
	display: flex;
}

.my-modal div.input-field {
	display: flex;
	width: 65%;
}

.my-modal button.my-btn-blue {
	width: 35%;
	height: max-content;
	font-size: 1rem;
}

.footer {
	color: #000 !important;
	text-shadow: 1px 1px 1px #fff !important;
	width: 100%;
	align-self: flex-end;
}

@media only screen and (max-width: 992px) {
	.my-modal div.row {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}

	.my-modal div.input-field {
		width: 100%;
	}

	.my-modal button.my-btn-blue {
		width: 60% ;
		font-size: 1rem;
	}

	.modal-project {
		height: 20vh !important;
	}
	
	.modal-user {
		width: 75vw !important;
		height: 45vh !important;
	}
}

@media only screen and (max-width: 768px) {
	.modal-user {
		width: 80vw !important;
		height: 50vh !important;
	}
}

@media only screen and (max-width: 992px) {
	nav .brand-logo {
		transform: translateX(0%);
	}
}

@media only screen and (max-width: 600px) {
	div form.my-modal {
		width: 80vw;
		height: 40vh;
	}
}