body {
	background-color: rgb(221, 73, 19);
	font-family: 'Ubuntu', sans-serif;
	color: #351BA9;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.App {
  	text-align: center;
	width: 90vw;
	min-height: 95vh;
	background-color: white;
	border-radius: 30px;
	margin: 1rem 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	color: #351BA9 !important;
	background-image: url('../public/olimp.png');
	background-size: 30rem;
	background-position: bottom 0 right 0;
	background-repeat: no-repeat;
}

header {
	width: 100%;
	height: 100px;
	align-self: flex-start;
	color: #351BA9 !important;
}

main {
	display: flex;
	/* flex: 1 0 auto; */
	justify-content: center;
	align-items: center;
	color: #351BA9 !important;
}

main.valign-wrapper {
	width: 100%;
	min-height: 50vh;
	flex-direction: column;
}

.menu {
	width: 60%;
	border: none;
	font-size: 2rem;
	color: #351BA9 !important;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

form {
	width: 80%;
	background-color: rgba(240, 255, 255, 0.5);
	border-radius: 15px;
	border: 1px solid azure;
	padding: 1rem;
	box-shadow: 0 0 1px 1px #5b3ddf;
}

button {
	border-radius: 6px;
	width: 15rem;
	margin: 0.5rem;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]) {
	box-shadow: 0 1px 0 0 #5b3ddf;
	border-bottom: 1px solid #351BA9;
}

input[type=text]:not(.browser-default):focus:not([readonly])+label,
input[type=email]:not(.browser-default):focus:not([readonly])+label,
input[type=password]:not(.browser-default):focus:not([readonly])+label {
	color: #351BA9 !important;
}

.products {
	color: #351BA9 !important;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	cursor: pointer;
}

.carousel {
	width: 100%;
	height: 100%;
	position: relative;
}

.carousel-item {
	position: absolute;
	visibility: hidden;
	width: 300px;
	height: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
	user-select: none;
}
  
.carousel-item.visible {
	visibility: visible;
}

.product-item {
	width: 96%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.product-item .card-image .main-product-image {
	width: 15rem;
	height: 15rem;
}

.product-item .card-image img{
	height: 30rem;
	object-fit: contain;
}

.card {
	width: 100%;
}

.card-action {
	cursor: default;
}

.card-action button:hover {
	color: #bf360c !important;
	font-weight: bold;
	background-color: transparent;
	cursor: pointer;
}

.product-info {
	display: grid;
	padding: 0;
	margin: 0;
}

.parameter {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.parameter-button {
	margin: 0.5rem !important;
}

.parameter-label {
	color: #351BA9;
	border: 1px solid grey;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
	border-radius: 5px;
	cursor: pointer;
	padding: 10px;
	margin: 0.5rem;
}

input[type="radio"], span::before, span::after {
	display: none;
}

[type="radio"]:not(:checked) + span, [type="radio"]:checked + span {
	padding: 5px 10px;
	font-size: 1rem;
}

[type="radio"]:checked + span {
	font-weight: bold;
	color: #73CA30;
} 

iframe {
	border: 1px solid grey;
	width: 100%;
	height: 80%;
	margin-top: 30px;
}

.projects {
	width: 96%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
}

.project-card {
	width: 15rem;
	height: 15rem;
	margin: 1rem;
	border-radius: 10px;
	border: 1px solid #351BA9;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
	background-color: #F2D131;
	color: #351BA9;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	cursor: pointer;
}

.project-card span {
	font-size: 1.3rem;
	padding: 1rem 0.5rem 0.5rem;
}

.project-card.create-project{
	background-color: rgba(237, 237, 237, 0.5);
	color: grey;
}

.create-project:hover {
	box-shadow: 0px 2px 4px inset rgba(0, 0, 0, 0.3);
	background-color: #f2d2318b;
	color: #351BA9;
}

.cabinet {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.auth-form {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	width: 100%;
}

.my-btn-white {
	background-color: #fff;
	color: #351BA9;
	border: 2px solid #351BA9;
	border-radius: 6px;
	width: 15rem;
}

.my-btn-white:hover {
	background-color: #fff;
}

.my-btn-blue {
	background-color: #351BA9;
	color: #fff;
	border-radius: 6px;
	width: 15rem;
}
.my-btn-blue:hover {
	background-color: #351BA9;
}

.my-btn-red {
	background-color: #C81818;
	color: #fff;
	border-radius: 6px;
	width: 15rem;
}
.my-btn-red:hover {
	background-color: #C81818;
}

.profile {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: column;
	width: 100%;
}

.profile-info-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	width: 30rem;
}

.profile-label {
	font-size: 1rem;
	color: black;
	margin: 1.5rem 0;
}

.profile-info {
	background-color: white; 
	color: #351BA9 !important; 
	width: 15rem;
	border-radius: 6px; 
	border: 2px solid #351BA9;
	cursor: default;
}

.profile-info:hover {
	background-color: white;
}
table, th, td {
	color: black;
	font-size: 1.2rem;
}

@media only screen and (max-width: 992px) {
	nav .brand-logo {
		transform: translateX(0%);
	}

	div form.my-modal {
		width: 80vw;
		height: 40vh;
	}
}