body {
	background-color: rgb(221, 73, 19);
	font-family: 'Ubuntu', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.App {
  	text-align: center;
	width: 90vw;
	height: 98vh;
	background-color: white;
	border-radius: 30px;
	margin-top: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

header {
	width: 100%;
	align-self: flex-start;
}

.navbar {
	width: 100%;
	box-shadow: none;
}

.nav-to-cab {
	border-radius: 0 30px 0 0;
}

main {
    flex: 1 0 auto;
	justify-content: center;
}

.menu {
	width: 60vw;
	border: none;
	font-size: 2rem;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

form {
	width: 80%;
}

input[type=text]:not(.browser-default):focus:not([readonly]) {
	box-shadow: 0 1px 0 0 #ffc107;
	border-bottom: 1px solid #ff9800;
}

input[type=text]:not(.browser-default):focus:not([readonly])+label {
	color: #ff9800;
}

footer {
	width: 100%;
	align-self: flex-end;
}